<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="pool">
    <div class="Card" th:each="book: ${booksList}">
        <div class="Card-picture"><a href="#" th:href="${book.id}"><img src="/assets/img/content/main/card.jpg" th:src="${book.image}" alt="card.jpg"/></a>
        </div>
        <div class="Card-content">
            <strong class="Card-title"><a href="#" th:text="${book.title}">>Техника</a>
            </strong>

            <div th:each="author: ${book.getAuthors()}">
                <div class="Card-description" th:text="${author}">Кондратенко Александр Петрович</div>
            </div>

            <div th:if="${book.getAuthors().size==0}">
                <p>У книги нет авторов, тк в бд не указан авторы</p>
            </div>

            <div class="Card-cost">
                <span class="Card-priceOld" th:text="${book.discount}" >₽300.00</span>
                <span class="Card-price" th:text="${book.price}">₽190.00</span>
            </div>
        </div>
    </div>
<!--th:attr="data-refreshshow = ${category}"  -->
<!--    th:attr="data-refreshquery = ${searchWordDTO}" -->
    <div class="Cards-footer Cards-footer_center"><a class="btn btn_primary" href="#" th:attr="data-refreshshow = ${category},data-refreshquery = ${searchWordDTO},data-refreshid=${refreshid}"  data-refreshshow="recent"
                                                     data-refreshoffset="0" data-refreshlimit="5"  >Показать еще</a>
    </div>
</div>
</html>